@charset "utf-8";


/* nav bar */
.navbar {
    background-color: rgb(55, 65, 81) !important;
}

.navbar-brand, .nav_list {
    color: rgb(209, 213, 219) !important;
}

.navbar-brand::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(142, 145, 150);
    left: 0;
    bottom: 0;
    transition: 0.5s;
    position: absolute;
}

.navbar-brand:hover::after {
    width: 100%;
}

.nav_list:hover {
    transition: 0.2s;
    background-color: rgb(142, 145, 150);
    color: rgb(55, 65, 81) !important;
}

.search_bar_form {
    width: 500px;
}

.search_bar {
    border-radius: 3px 0 0 3px !important;
}

.search_bar_icon {
    padding: 4px;
    margin: 0;
    background-color: rgb(209, 213, 219);
    border-radius: 0 3px 3px 0;
}

.search_bar_icon:hover {
    background-color: rgb(142, 145, 150);
}