# Ignore HTML, CSS, and JavaScript for language statistics
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
*.jsx linguist-vendored
*.ts linguist-vendored
*.tsx linguist-vendored

# Ensure Swift files are counted for language statistics
*.swift linguist-language=Swift
